.heroSectionWrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.innerContainer {
  
}

.heroTextContainer {
  display: flex;
  align-items: center;
}

h1 {
  font-size: min(max(1rem, 6vw), 160px);
  line-height: min(max(1rem, 6vw), 160px);
  font-family: 'Manjari', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-size: min(max(1rem, 1.0vw), 24px);
}

.arrowRight {
  width: 0; 
  height: 0; 
  border-top: min(0.7vw, 12px) solid transparent;
  border-bottom: min(0.7vw, 12px) solid transparent;
  border-left: min(0.7vw, 12px) solid #ff4d5e;
  display: inline-block;
  margin-left: 15px;
}

.careerLink {
  text-decoration: none;
  font-weight: 700;
  font-size: min(max(1rem, 1.2vw), 30px);
  color: #0d0d0d;
  display: block;
  margin-top: 90px;
}
