:global(body) {
  background: #f8faff url('../../images/background-pattern.png') repeat;
}

.wrapper {
  padding: 0 160px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}