:global(html) {
  font-size: 16px;
}

:global(body) {
  background: #f8faff url('../../images/background-pattern.png') repeat;
}

.wrapper {
  padding: 0 6vw;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 2560px;
}

.main {
  flex: 1;
}
